<header class="header">
    <nav class="navbar">
        <div class="nav-container">
            <div class="nav-logo">
                <a href="{{site.url}}/index.html">ACS // Portfolio</a>
            </div>
            <div class="nav-menu">
                <a href="{{site.url}}/index.html" class="nav-link">Home</a>
                <a href="{{site.url}}/about/index.html" class="nav-link">About</a>
                <a href="{{site.url}}/projects.html" class="nav-link">Projectos</a>
                <a href="{{site.url}}/contact.html" class="nav-link">Contactos</a>
                <a href="{{site.url}}/blog/index.html" class="nav-link">Blog</a>
            </div>
            <div class="nav-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>
</header>
