<header>
    <div class="header-content">
        <a href="index.html" class="logo">{{siteName}}</a>
        <nav>
            {{#navLinks}}
            <a href="{{url}}">{{label}}</a>
            {{/navLinks}}
        </nav>
        <a href="{{ctaLink}}" class="header-button">{{ctaText}}</a>
    </div>
</header>
