{{! Dynamic Background Images - Generates CSS for section background images from page data }}
{{#backgroundImages}}
<style>
{{#hero}}
.hero::before {
    background-image: url('{{hero}}');
}
{{/hero}}
{{#arsenal}}
#arsenal {
    background-image: url('{{arsenal}}');
}
{{/arsenal}}
{{#world}}
#world {
    background-image: url('{{world}}');
}
{{/world}}
{{#story}}
#story {
    background-image: url('{{story}}');
}
{{/story}}
{{#team}}
#team {
    background-image: url('{{team}}');
}
{{/team}}
{{#updates}}
#updates-content {
    background-image: url('{{updates}}');
}
{{/updates}}
{{#support}}
#support-content {
    background-image: url('{{support}}');
}
{{/support}}
{{#error}}
.error-page::before {
    background-image: url('{{error}}');
}
{{/error}}
</style>
{{/backgroundImages}}

{{! Page-specific custom styles }}
{{#pageStyles}}
<style>
{{{pageStyles}}}
</style>
{{/pageStyles}}
